@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Hahmlet:wght@200&display=swap');
body{
    margin:0;
}

a {
    color:black;
    text-decoration: none;
}
#active {
    color:red;
    font-weight: bold;
}

h1 { 
    font-size: 45px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    border-bottom : 1px solid gray;
    margin : 0;
    padding:20px;
}

#grid ol{
    border-right: 1px solid gray;
    font-family: 'Gowun Dodum', sans-serif;
    width:60px;
    margin:0;
    padding:20px;
    padding-left: 33px;
}


#grid{
    display:grid;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 18px;
    grid-template-columns: 150px 1fr;
    margin:0;
    padding:20px;
}

#article{
    padding-left:25px;
}

@media(max-width:800px){
    #grid{
        display:block;
        font-size: 16px;
    }
    #grid ol{
        border-right: none;
    }
    #article{
    padding-left:0;
    }
    h1 { 
    font-size: 35px;        
}
}